/* =======================================================
	Fullwidth Block
======================================================= */

.fullwidth-section {
	display:block;
	position:relative;
	color:#fff;
	padding:remify(50px 0);
	&:after {
		content:'';
		background:$primary;
		width:100vw;
		height:100%;
		position:absolute;
		top:0;
		left:calc(-50vw + 50%);
		z-index:-1;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color:#fff;
		margin-bottom:remify(15px);
		a {
			color:#fff;
		}
	}
	&.featured {
		background-image:url(../img/template/featured-bg.jpeg);
		background-size:cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
	}
}