/* =======================================================
	Typography
======================================================= */

$baseFont:					'proxima-nova', sans-serif;
$baseWeight:				400;
$heavyWeight:				700;
$baseSize:					16px;

h1, h2, h3, h4, h5, h6 {
	margin:remify(0 0 30px 0);
	font-family:$baseFont;
	font-weight:$heavyWeight;
	line-height:normal;
	color:$primary;
}

h1 {
	@include rem('font-size', 40px);
}

h2 {
	margin-bottom:remify(20px);
	@include rem('font-size', 32px);
}

h3 {
	margin-bottom:remify(20px);
	@include rem('font-size', 26px);
}

h4 {
	margin-bottom:remify(15px);
	@include rem('font-size', 20px);
}

h5 {
	margin-bottom:remify(15px);
	@include rem('font-size', 18px);
}

h6 {
	margin-bottom:remify(15px);
	@include rem('font-size', 16px);
}

p {
	margin-bottom:remify(30px);
}

a {
	color:$primary;
	text-decoration:none;
	@include transition(.35s);
	&:hover {
		color:$highlight;
		text-decoration:none;
	}
}

.intro {
	@include rem('font-size', 20px);
	p:last-child {
		margin-bottom:0;
	}
}

.shout {
	@include rem('font-size', 20px);
}