/* =======================================================
	Animated Banner - Image as background div
======================================================= */

.banner-container {
	display:block;
	position:relative;
	overflow:hidden;
	border-bottom:5px solid $highlight;
	ul {
		list-style:none;
		padding:0;
		margin:0;
		li {
			padding:remify(75px 0);
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center center;
			&:before {
				content:'';
				background:rgba($primary, 0.3);
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index:1;
			}
			.bannertext {
				display:block;
				color:#fff;
				z-index:10;
				position:relative;
				visibility:visible;
				@include transition(.2s);
				h1,
				h2,
				h3,
				h4,
				h5,
				h6, 
				p {
					color:#fff;
					margin-bottom:remify(15px);
					a {
						color:#fff;
						text-decoration:underline;
					}
				}
			}
		}
	}
	@media (min-width:992px) {
		ul li {
			padding:remify(150px 0);
		}
	}
}