/* =======================================================
	Standard Image Gallery
======================================================= */

.img-full {
	width:100%;
	display:block;
	margin:0 auto;
}

.image-gallery {
	display:block;
	list-style:none;
	padding:0;
	margin:0;
	li {
		display:block;
		margin:remify(0 0 20px 0);
		a {
			display:block;
			img {
				width:100%;
				height:auto;
			}
		}
	}
	@media (min-width:992px) {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;
		margin:remify(0 -15px);
		li {
			width:25%;
			height:210px;
			padding:remify(0 15px);
			a {
				height:100%;
				img {
					width:100%;
					height:100%;
					object-fit:cover;
				}
			}
		}
	}
}