/* =======================================================
	Colors
======================================================= */

$primary:					#7BD7CF;
$secondary:					#353634;
$highlight:					#82837E;
$baseColor:					#171f2f;
$bodyFont:					$baseColor;