/* =======================================================
	Colors
======================================================= */

$primary:					#2B2B2B;
$secondary:					#353634;
$highlight:					#82837E;
$bodyFont:					#3A3A3A;