/* =======================================================
	Helper Classes
======================================================= */

.clearfix {
	&:before, 
	&:after { 
		content:" "; 
		display:block; 
	}
  &:after { 
  	clear:both; 
  }
}

.no-margin-bottom {
	margin-bottom:0;
}

@media (min-width:992px) {
	.is-table-row {
		display:table;
		width:100%;
		margin:0;
		[class*="col-"] {
			float:none;
			display:table-cell;
			vertical-align:middle;
		}
	}
}