/* =======================================================
	Globals
======================================================= */

body { 
	font-family:$baseFont;
	font-weight:$heavyWeight;
	line-height:1.5;
	overflow-x:hidden;
	position:relative;
	@include rem('font-size', 20px);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content {
	display:block;
	position:relative;
	padding:0;
}