/* =======================================================
	Buttons & Links
======================================================= */

.btn {
	display: inline-block;
	padding: remify(15px 30px);
	background: transparent;
	border: 3px solid $baseColor;
	@include transition(.25s);
	&:hover {
		background: $baseColor;
	}
}