/* =======================================================
	Buttons & Links
======================================================= */

.btn {
	display: inline-block;
	padding: rem(12px 25px 8px);
	background: transparent;
   border: 3px solid $baseColor;
   border-radius: 0;
   text-transform: uppercase;
   color: $baseColor;
   letter-spacing: rem(2px);
	@include transition(.25s);
	&:hover {
      background: $baseColor;
      color: white;
	}
}