/* =======================================================
	Flex Container
======================================================= */

.flex {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   &__item {
      flex-basis: 0;
      flex-grow: 1;
      padding: rem(80px);
      position: relative;
      overflow: hidden;
      & > img {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         margin: auto;
         opacity: 0;
         width: 100%;
         height: 100%;
         @include transition(1s);
      }
      &:hover > img {
         opacity: 1;
         @include transform(scale(1.1));
      }
   }
   &__caption {
      color: white;
      text-align: center;
      position: relative;
      z-index: 10;
      h3 {
         color: $baseColor;
         position: relative;
      }
      p {
         font-size: rem(24px);
         color: $baseColor;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}