/* =======================================================
	Lists
======================================================= */

ul.customlist {
	list-style:none;
	li {
		position:relative;
		&:before {
			content:'\f1c1';
			font-family:'FontAwesome';
			position:absolute;
			left:-20px;
			top:0;
		}
	}
}