/* =======================================================
	Sections
======================================================= */

section {
	display:block;
	padding:remify(30px 0);
	position:relative;
	@media (min-width:992px) {
		padding:remify(50px 0);
	}
}

.container,
.container-fluid {
	position:relative;
}