/* =======================================================
	The Wedding Party
======================================================= */

.person {
   display: block;
   &__image,
   &__caption {
      display: block;
      text-align: center;
      margin: 0 auto;
      img {
          max-width: rem(250px);
      }
   }
   &__caption {
      font-size: rem(20px);
   }
   @media(min-width:768px) {
      &__image img {
         max-width: 100%;
      }
   }
}