/* =======================================================
	Main Navigation
======================================================= */

#menu-btn {
   display: block;
   background: white;
   text-align: center;
   text-transform: uppercase;
   top: 0;
   left: 0;
   width: 100%;
   padding: rem(10px 0);
   letter-spacing: rem(2px);
   &:hover,
   &:focus,
   &:active {
      text-decoration: none;
      color: $primary;
   }
   @media (min-width:480px) {
      display: none;
   }
}

.main-header__nav {
   padding-top: rem(2px);
   padding-bottom: rem(12px);
   background: white;
   display: none;
   @media (min-width:480px) {
      display: block;
      background: transparent;
      padding: 0;
   }
}

.main-header__menu {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	text-align: center;
	li {
		flex-basis: 0;
      flex-grow: 1;
      padding: rem(12px);
		a {
			text-transform: uppercase;
			text-decoration: none;
         letter-spacing: rem(2px);
         font-size: rem(14px);
         color: $baseColor;
         display: block;
		}
   }
   @media (min-width:480px) {
      flex-direction: row;
      li {
         flex-basis: auto;
         a {
            color: white;
         }
      }
   }
   @media (min-width:768px) {
      li {
         flex-basis: 0;
      }
   }
}

@media (min-width:480px) {
   .main-header--fixed .main-header__menu li a {
      color: $baseColor;
   }
}