/* =======================================================
	Footer
======================================================= */

footer {
	display:block;
	padding:remify(30px 0 15px);
	background-color:$secondary;
	color:#fff;
	h6 {
		color:#fff;
		margin-bottom:15px;
	}
	a {
		color:#fff;
		text-decoration:none;
		@include transition(.35s);
		&:hover {
			color:$highlight;
		}
	}
	@media (min-width:992px) {
		padding:remify(50px 0 25px);
	}
}

#footer-menu {
	list-style:none;
	padding:0;
}

#footer-menu,
.extra-text {
	margin-bottom:remify(30px);
	@media (min-width:992px) {
		margin-bottom:remify(50px);
	}
}

.accreditation-logo {
	margin-bottom:remify(20px);
	@media (min-width:992px) {
		margin-bottom:0;
	}
}

/* =======================================================
	Copyright
======================================================= */

.copyright {
	display:block;
	margin-bottom:0;
}

@media (min-width:992px) {
	#creator {
		text-align:right;
	}
}